In [1]:
import pandas as pd
import matplotlib.pylab as plt 
import numpy as np
import seaborn as sns
import plotly.graph_objs as go
from plotly.offline import iplot
from sklearn.decomposition import PCA
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.cluster import KMeans
from scipy import stats
import umap as umap
import gower


def load_data(filepath):
    '''takes in the file path where the data is store and returns a pandas dataframe.
    filepath must be entered as a string
    '''
    
    df = pd.read_csv(filepath)
    return df;

filepath = '../data/market_ETL.csv'
market_ID = load_data(filepath)

market = market_ID.drop(columns=['id'])
market.head()

,idade_empresa_anos,"de_faixa_faturamento_estimado_ATE R$ 81.000,00","de_faixa_faturamento_estimado_DE R$ 1.500.000,01 A R$ 4.800.000,00","de_faixa_faturamento_estimado_DE R$ 10.000.000,01 A R$ 30.000.000,00","de_faixa_faturamento_estimado_DE R$ 100.000.000,01 A R$ 300.000.000,00","de_faixa_faturamento_estimado_DE R$ 30.000.000,01 A R$ 100.000.000,00","de_faixa_faturamento_estimado_DE R$ 300.000.000,01 A R$ 500.000.000,00","de_faixa_faturamento_estimado_DE R$ 360.000,01 A R$ 1.500.000,00","de_faixa_faturamento_estimado_DE R$ 4.800.000,01 A R$ 10.000.000,00","de_faixa_faturamento_estimado_DE R$ 500.000.000,01 A 1 BILHAO DE REAIS",...,setor_SERVIÇO,setor_nan,sg_uf_AM,sg_uf_MA,sg_uf_PI,sg_uf_RN,sg_uf_RO,sg_uf_nan,vl_total_veiculos_leves_grupo,vl_total_veiculos_pesados_grupo
0,14.46,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1.46,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
2,7.09,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
3,6.51,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
4,3.20,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0

In [2]:
market.select_dtypes(exclude='int64')

        idade_empresa_anos
0                    14.46
1                     1.46
2                     7.09
3                     6.51
4                     3.20
...                    ...
462293                3.25
462294                8.95
462295               20.75
462296                1.91
462297                0.80

[462298 rows x 1 columns]

In [19]:
var_cont = market['idade_empresa_anos'].values.reshape(-1,1)
var_cont

array([[14.46],
       [ 1.46],
       [ 7.09],
       ...,
       [20.75],
       [ 1.91],
       [ 0.8 ]])

In [20]:
from sklearn.preprocessing import StandardScaler

sc = StandardScaler()
var_cont_standarized = sc.fit_transform(var_cont)


var_cont_standarized

array([[ 0.46916311],
       [-0.88280055],
       [-0.29729629],
       ...,
       [ 1.12330552],
       [-0.83600181],
       [-0.95143871]])

In [21]:
standarized = market
standarized['idade_empresa_anos'] = var_cont_standarized
standarized

,idade_empresa_anos,"de_faixa_faturamento_estimado_ATE R$ 81.000,00","de_faixa_faturamento_estimado_DE R$ 1.500.000,01 A R$ 4.800.000,00","de_faixa_faturamento_estimado_DE R$ 10.000.000,01 A R$ 30.000.000,00","de_faixa_faturamento_estimado_DE R$ 100.000.000,01 A R$ 300.000.000,00","de_faixa_faturamento_estimado_DE R$ 30.000.000,01 A R$ 100.000.000,00","de_faixa_faturamento_estimado_DE R$ 300.000.000,01 A R$ 500.000.000,00","de_faixa_faturamento_estimado_DE R$ 360.000,01 A R$ 1.500.000,00","de_faixa_faturamento_estimado_DE R$ 4.800.000,01 A R$ 10.000.000,00","de_faixa_faturamento_estimado_DE R$ 500.000.000,01 A 1 BILHAO DE REAIS",...,setor_SERVIÇO,setor_nan,sg_uf_AM,sg_uf_MA,sg_uf_PI,sg_uf_RN,sg_uf_RO,sg_uf_nan,vl_total_veiculos_leves_grupo,vl_total_veiculos_pesados_grupo
0,0.469163,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,-0.882801,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
2,-0.297296,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
3,-0.357615,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
4,-0.701845,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
462293,-0.696646,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
462294,-0.103861,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
462295,1.123306,0,0,0,0,0,0,0,0,0,...,1,0,0,1,0,0,0,0,0,0
462296,-0.836002,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
462297,-0.951439,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,0,1,0,0,0

In [22]:
dissimilarity_matrix = gower.gower_matrix(standarized)
dissimilarity_matrix

MemoryError: Unable to allocate 796. GiB for an array with shape (462298, 462298) and data type float32

In [ ]:
dissimilarity_matrix.shape

In [ ]:
np.percentile(dissimilarity_matrix,25), dissimilarity_matrix.min(),dissimilarity_matrix.max()

In [ ]:
eps_dist = dissimilarity_matrix[0]
plt.hist(eps_dist,bins=30)
plt.ylabel('n');
plt.xlabel('Epsilon distance')

In [ ]:
d = dissimilarity_matrix[0]
plt.plot(d)
plt.ylabel("k-distances")
plt.grid(True)
plt.show()