In [1]:
import pandas as pd
import numpy as np

market = pd.read_csv('../data/market_no_outliers.csv',index_col=0)
market.shape

(426221, 174)

In [2]:
market.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 426221 entries, 0 to 462297
Columns: 174 entries, idade_empresa_anos to vl_total_veiculos_pesados_grupo
dtypes: float64(1), int64(173)
memory usage: 569.1 MB

In [3]:
market.head()

,idade_empresa_anos,"de_faixa_faturamento_estimado_ATE R$ 81.000,00","de_faixa_faturamento_estimado_DE R$ 1.500.000,01 A R$ 4.800.000,00","de_faixa_faturamento_estimado_DE R$ 10.000.000,01 A R$ 30.000.000,00","de_faixa_faturamento_estimado_DE R$ 100.000.000,01 A R$ 300.000.000,00","de_faixa_faturamento_estimado_DE R$ 30.000.000,01 A R$ 100.000.000,00","de_faixa_faturamento_estimado_DE R$ 300.000.000,01 A R$ 500.000.000,00","de_faixa_faturamento_estimado_DE R$ 360.000,01 A R$ 1.500.000,00","de_faixa_faturamento_estimado_DE R$ 4.800.000,01 A R$ 10.000.000,00","de_faixa_faturamento_estimado_DE R$ 500.000.000,01 A 1 BILHAO DE REAIS",...,setor_SERVIÇO,setor_nan,sg_uf_AM,sg_uf_MA,sg_uf_PI,sg_uf_RN,sg_uf_RO,sg_uf_nan,vl_total_veiculos_leves_grupo,vl_total_veiculos_pesados_grupo
0,14.46,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,1,0,0,0,0
1,1.46,0,0,0,0,0,0,0,0,0,...,1,0,0,0,1,0,0,0,0,0
2,7.09,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
3,6.51,0,0,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,0,0,0
4,3.20,0,0,0,0,0,0,0,0,0,...,1,0,0,0,0,1,0,0,0,0

In [4]:
clusters_p1 = pd.read_csv('../data/clusters_portfolio1.csv',index_col=0)
clusters_p1.head()

,idade_empresa_anos,fl_me,fl_sa,fl_epp,fl_mei,fl_ltda,fl_rm,fl_spa,fl_antt,fl_veiculo,...,nm_divisao_ATIVIDADES DE APOIO A EXTRACAO DE MINERAIS,nm_divisao_DESCONTAMINACAO E OUTROS SERVICOS DE GESTAO DE RESIDUOS,nm_divisao_EXTRACAO DE PETROLEO E GAS NATURAL,nm_divisao_FABRICACAO DE PRODUTOS FARMOQUIMICOS E FARMACEUTICOS,"de_faixa_faturamento_estimado_ATE R$ 81.000,00","de_faixa_faturamento_estimado_DE R$ 500.000.000,01 A 1 BILHAO DE REAIS",de_saude_rescencia_ATE 3 MESES,nm_divisao_EXTRACAO DE CARVAO MINERAL,de_saude_rescencia_ATE 6 MESES,nm_divisao_FABRICACAO DE PRODUTOS DO FUMO
0,4.33,0.00,0.01,0.0,0.72,0.0,-0.0,0.0,-0.0,0.02,...,0.0,0.0,0.0,0.0,0.19,0.0,0.0,0.0,0.0,0.0
1,13.76,0.01,0.03,0.0,0.30,0.0,-0.0,0.0,-0.0,0.08,...,0.0,0.0,0.0,0.0,0.09,0.0,0.0,0.0,0.0,0.0
2,2.58,-0.00,0.00,0.0,0.79,0.0,-0.0,0.0,-0.0,0.01,...,0.0,0.0,0.0,0.0,0.20,0.0,0.0,0.0,0.0,0.0
3,24.41,0.01,0.02,-0.0,-0.03,-0.0,0.0,-0.0,0.0,0.11,...,0.0,0.0,0.0,0.0,0.03,0.0,0.0,0.0,0.0,0.0
4,6.87,0.00,0.01,0.0,0.66,0.0,-0.0,0.0,-0.0,0.04,...,0.0,0.0,0.0,0.0,0.19,0.0,0.0,0.0,0.0,0.0

In [5]:
clusters_p1.shape

(6, 174)

In [6]:
def pearson_corr(x, y):
    '''
    INPUT
    x - an array of matching length to array y
    y - an array of matching length to array x
    OUTPUT
    corr - the pearson correlation coefficient for comparing x and y
    '''
    # Compute Mean Values
    mean_x, mean_y = np.sum(x)/len(x), np.sum(y)/len(y) 
    
    x_diffs = x - mean_x
    y_diffs = y - mean_y
    numerator = np.sum(x_diffs*y_diffs)
    denominator = np.sqrt(np.sum(x_diffs**2))*np.sqrt(np.sum(y_diffs**2))
        
    corr = numerator/denominator
                            
    return corr

In [7]:
def corr_spearman(x, y):
    '''
    INPUT
    x - an array of matching length to array y
    y - an array of matching length to array x
    OUTPUT
    corr - the spearman correlation coefficient for comparing x and y
    '''
    # Change each vector to ranked values
    x = x.rank()
    y = y.rank()
    
    # Compute Mean Values
    mean_x, mean_y = np.sum(x)/len(x), np.sum(y)/len(y) 
    
    x_diffs = x - mean_x
    y_diffs = y - mean_y
    numerator = np.sum(x_diffs*y_diffs)
    denominator = np.sqrt(np.sum(x_diffs**2))*np.sqrt(np.sum(y_diffs**2))
        
    corr = numerator/denominator
                            
    return corr

In [8]:
def kendalls_tau(x, y):
    '''
    INPUT
    x - an array of matching length to array y
    y - an array of matching length to array x
    OUTPUT
    tau - the kendall's tau for comparing x and y
    '''    
    # Change each vector to ranked values
    x = x.rank()
    y = y.rank()
    n = len(x)
     
    sum_vals = 0
    # Compute Mean Values
    for i, (x_i, y_i) in enumerate(zip(x, y)):
        for j, (x_j, y_j) in enumerate(zip(x, y)):
            if i < j:
                sum_vals += np.sign(x_i - x_j)*np.sign(y_i - y_j)
                        
    tau = 2*sum_vals/(n*(n-1))
    
    return tau

In [9]:
def eucl_dist(x, y):
    '''
    INPUT
    x - an array of matching length to array y
    y - an array of matching length to array x
    OUTPUT
    euc - the euclidean distance between x and y
    '''  
    return np.linalg.norm(x - y)
    
def manhat_dist(x, y):
    '''
    INPUT
    x - an array of matching length to array y
    y - an array of matching length to array x
    OUTPUT
    manhat - the manhattan distance between x and y
    '''  
    return sum(abs(e - s) for s, e in zip(x, y))

In [10]:
x = np.array(clusters_p1.loc[0,:])
y = np.array(market.loc[0,:])

In [11]:
from scipy.stats import spearmanr, kendalltau

#pearson_corr(x,y), corr_spearman(x, y), kendalls_tau(x, y)

In [12]:
pearson_corr(x,y)#, corr_spearman(x, y)#, kendalls_tau(x, y)

-0.009782700523767092

In [13]:
eucl_dist(x, y)

97.91588737278542

In [14]:
manhat_dist(x, y)

267.91999999999985

In [15]:
distancia_eucl = []
distancia_manhat = []
corr_p = []
x = np.array(clusters_p1.loc[0,:])
for i in range(0,market.shape[0]):
    y = np.array(market.iloc[i,:])
    eucl = eucl_dist(x, y)
    manhat = manhat_dist(x, y)
    pearson = pearson_corr(x, y)
    distancia_eucl.append(eucl)
    distancia_manhat.append(manhat)
    corr_p.append(pearson)

In [16]:
np.transpose(distancia_eucl)

array([ 97.91588737,  76.49275129,  82.05608874, ..., 142.65728338,
        82.00561261,  97.34857472])

In [17]:
distancias = pd.DataFrame(np.transpose([distancia_eucl, distancia_manhat, corr_p]),
                          columns=['Euclidan_dist', 'Manhattan_dist', 'Pearson_Correlation'])

In [18]:
distancias

        Euclidan_dist  Manhattan_dist  Pearson_Correlation
0           97.915887          267.92            -0.009783
1           76.492751          209.72            -0.020927
2           82.056089          222.29            -0.013936
3           86.867005          233.25            -0.015143
4           94.170489          249.88            -0.018746
...               ...             ...                  ...
426216      80.845102          215.79            -0.017805
426217      93.383342          251.67            -0.013754
426218     142.657283          361.85            -0.010761
426219      82.005613          224.19            -0.009480
426220      97.348575          261.76            -0.021170

[426221 rows x 3 columns]

In [60]:
top_euc = distancias['Euclidan_dist'].sort_values(ascending=False)[0:30]

In [61]:
top_man = distancias['Manhattan_dist'].sort_values(ascending=False)[0:30]

In [71]:
top_per = distancias['Pearson_Correlation'].sort_values(ascending=False)[0:30]

In [72]:
top_euc.index

Int64Index([134758,  64441, 186011, 415094, 357641, 234124, 351069, 161366,
             10559, 371556, 284376, 327010,  95827, 236165, 359102,  16472,
            220226, 107952, 215800, 162124, 190825,   3781, 317347,  28308,
            279625, 372167, 391779, 123063, 215916, 414287, 114537, 223948,
            314284, 322155, 339138, 103633, 399641, 253419, 144657, 333633,
             49562, 222302, 259327,  38522,  33666, 276234, 130641, 384111,
            230593, 177976],
           dtype='int64')

In [73]:
top_per.index

Int64Index([372277, 395100, 363178,  44796, 288469,  48803, 142621, 125860,
             27815, 322639, 378540, 223958, 255827, 105557,  50448, 374783,
            314097, 317153, 208725, 214456, 352127, 229536, 389685, 178762,
            105636, 370590,   3214,  85394,  72618, 114062],
           dtype='int64')

In [74]:
best_dists = []
for i in range(0,30):
    for n in range(0,30):
        if top_euc.index[i] == top_man.index[n]:
            best_dists.append(top_euc.index[i])
        #for o in range (0,50):
            #if top_euc.index[i] == top_man.index[n] and top_euc.index[i] == top_per.index[o]:
                #best_dists.append(top_euc.index[i])
                
best_dists

[134758, 64441, 186011, 357641, 351069, 236165, 220226, 107952, 28308, 391779]

In [70]:
len(best_dists)

10