The purpose of this notebook is simply to generate a database sample so we can use in the streamlit app to showcase our engine.

In [1]:
import pandas as pd
import numpy as np



def load_data(filepath):
    '''takes in the file path where the data is store and returns a pandas dataframe.
    filepath must be entered as a string
    '''
    
    df = pd.read_csv(filepath)
    return df;

filepath = '../app/data/market_ETL.csv'
market_ID = load_data(filepath)

portfolio1 = pd.read_csv('../app/data/portfolio1_ETL.csv')
portfolio2 = pd.read_csv('../app/data/portfolio2_ETL.csv')
portfolio3 = pd.read_csv('../app/data/portfolio3_ETL.csv')

#adding 10k entries in order not to slow the app when we open it.
market_sample = market_ID[0:10000].append(portfolio1).append(portfolio2).append(portfolio3)

In [2]:
market_sample.shape

(11386, 171)

In [3]:
market_sample.head()

,id,idade_empresa_anos,"de_faixa_faturamento_estimado_ATE R$ 81.000,00","de_faixa_faturamento_estimado_DE R$ 1.500.000,01 A R$ 4.800.000,00","de_faixa_faturamento_estimado_DE R$ 10.000.000,01 A R$ 30.000.000,00","de_faixa_faturamento_estimado_DE R$ 100.000.000,01 A R$ 300.000.000,00","de_faixa_faturamento_estimado_DE R$ 30.000.000,01 A R$ 100.000.000,00","de_faixa_faturamento_estimado_DE R$ 300.000.000,01 A R$ 500.000.000,00","de_faixa_faturamento_estimado_DE R$ 360.000,01 A R$ 1.500.000,00","de_faixa_faturamento_estimado_DE R$ 4.800.000,01 A R$ 10.000.000,00",...,setor_INDUSTRIA,setor_SERVIÇO,setor_nan,sg_uf_AM,sg_uf_MA,sg_uf_PI,sg_uf_RN,sg_uf_RO,vl_total_veiculos_leves_grupo,vl_total_veiculos_pesados_grupo
0,a6984c3ae395090e3bee8ad63c3758b110de096d5d8195...,14.46,0,1,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
1,6178f41ade1365e44bc2c46654c2c8c0eaae27dcb476c4...,1.46,0,0,0,0,0,0,0,0,...,0,1,0,0,0,1,0,0,0,0
2,4a7e5069a397f12fdd7fd57111d6dc5d3ba558958efc02...,7.09,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
3,3348900fe63216a439d2e5238c79ddd46ede454df7b9d8...,6.51,0,0,0,0,0,0,0,0,...,0,1,0,1,0,0,0,0,0,0
4,1f9bcabc9d3173c1fe769899e4fac14b053037b953a1e4...,3.20,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,0,0

In [4]:
market_sample.tail()

,id,idade_empresa_anos,"de_faixa_faturamento_estimado_ATE R$ 81.000,00","de_faixa_faturamento_estimado_DE R$ 1.500.000,01 A R$ 4.800.000,00","de_faixa_faturamento_estimado_DE R$ 10.000.000,01 A R$ 30.000.000,00","de_faixa_faturamento_estimado_DE R$ 100.000.000,01 A R$ 300.000.000,00","de_faixa_faturamento_estimado_DE R$ 30.000.000,01 A R$ 100.000.000,00","de_faixa_faturamento_estimado_DE R$ 300.000.000,01 A R$ 500.000.000,00","de_faixa_faturamento_estimado_DE R$ 360.000,01 A R$ 1.500.000,00","de_faixa_faturamento_estimado_DE R$ 4.800.000,01 A R$ 10.000.000,00",...,setor_INDUSTRIA,setor_SERVIÇO,setor_nan,sg_uf_AM,sg_uf_MA,sg_uf_PI,sg_uf_RN,sg_uf_RO,vl_total_veiculos_leves_grupo,vl_total_veiculos_pesados_grupo
260,b6966d868fb7976f993aca02fb667c9ae8f5ebf4d2e033...,18.98,0,0,1,0,0,0,0,0,...,0,1,0,0,0,0,0,1,0,0
261,4a87a82771996c18afc68a17d139bd318d08fa3e5dcf9f...,22.49,0,0,0,0,1,0,0,0,...,0,1,0,0,0,1,0,0,1,0
262,f3b468c4066fac0d2de28bdafa87ec8b9d103a085cf7de...,12.75,0,0,0,0,1,0,0,0,...,0,1,0,1,0,0,0,0,0,0
263,98448fefe3e358578fa643b63fcdcf4a3f2dcb496863f8...,26.40,0,0,0,0,1,0,0,0,...,0,1,0,0,0,0,0,0,1,1
264,251f454db948590c50df496ea83f76e2227e24a32c2814...,10.79,0,0,0,0,0,1,0,0,...,0,1,0,0,1,0,0,0,0,0

In [5]:
market_sample.to_csv('market_sample.csv', index = False)