In [1]:
import pandas as pd

df = pd.read_csv('data/estaticos_portfolio1.csv',index_col=0)

df['de_saude_rescencia'].value_counts()

ACIMA DE 1 ANO    453
ATE 1 ANO          55
SEM INFORMACAO     36
Name: de_saude_rescencia, dtype: int64

In [2]:
df.shape

(555, 181)

In [3]:
df['de_saude_rescencia'].value_counts().sum()

544

In [4]:
df['de_saude_rescencia'] = df['de_saude_rescencia'].fillna('SEM INFORMACAO')

In [11]:
df['de_saude_rescencia']

0      SEM INFORMACAO
1      ACIMA DE 1 ANO
2      ACIMA DE 1 ANO
3      ACIMA DE 1 ANO
4      ACIMA DE 1 ANO
            ...
550    ACIMA DE 1 ANO
551         ATE 1 ANO
552    ACIMA DE 1 ANO
553         ATE 1 ANO
554    ACIMA DE 1 ANO
Name: de_saude_rescencia, Length: 555, dtype: object

In [14]:
def create_dummy_df(df, cat_cols, dummy_na):
    '''
    INPUT:
    df - pandas dataframe with categorical variables you want to dummy
    cat_cols - list of strings that are associated with names of the categorical columns
    dummy_na - Bool holding whether you want to dummy NA vals of categorical columns or not
    
    OUTPUT:
    df - a new dataframe that has the following characteristics:
            1. contains all columns that were not specified as categorical
            2. removes all the original columns in cat_cols
            3. dummy columns for each of the categorical columns in cat_cols
            4. if dummy_na is True - it also contains dummy columns for the NaN values
            5. Use a prefix of the column name with an underscore (_) for separating 
    '''
    for col in  cat_cols:
        try:
            #for each cat add dummy var, drop original column
            df = pd.concat([df.drop(columns=col, axis=1), pd.get_dummies(df[col], prefix=col, prefix_sep='_', drop_first=False, dummy_na=dummy_na)], axis=1)
        except:
            continue
    return df;

In [15]:
df.head()

,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,fl_me,...,media_meses_servicos,max_meses_servicos,min_meses_servicos,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais
0,dabe79bec87c88ae04e869bf6bd321ee5e1893cecf6625...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,0.646575,<= 1,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
1,32e5f4e10932153a7ba869cb0386e7e02d49d2461046b8...,False,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,6.586301,5 a 10,False,...,NaN,NaN,NaN,0.0,0.0,2.0,NaN,-100.0,0.0,4
2,a95d6f30bba445bd3d6b0c5b36f865b38ec01d17336090...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,8.010959,5 a 10,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
3,6cb309685cea0b6d2988818792ec2e6fcb2bd02e0afa9e...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,COMERCIO VAREJISTA,COMERCIO,20.863014,> 20,False,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0
4,f72aa7fa6787b0a5a1c88885b6120850df8ee0f71adc25...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,COMERCIO VAREJISTA,COMERCIO,18.726027,15 a 20,False,...,39.454762,91.2,19.333333,14.0,15.0,25.0,-6.666667,-44.0,0.0,3

In [16]:
cat_cols = ['de_saude_rescencia']
create_dummy_df(df, cat_cols, False)

,id,fl_matriz,de_natureza_juridica,sg_uf,natureza_juridica_macro,de_ramo,setor,idade_empresa_anos,idade_emp_cat,fl_me,...,qt_funcionarios,qt_funcionarios_12meses,qt_funcionarios_24meses,tx_crescimento_12meses,tx_crescimento_24meses,tx_rotatividade,qt_filiais,de_saude_rescencia_ACIMA DE 1 ANO,de_saude_rescencia_ATE 1 ANO,de_saude_rescencia_SEM INFORMACAO
0,dabe79bec87c88ae04e869bf6bd321ee5e1893cecf6625...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,0.646575,<= 1,False,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,1
1,32e5f4e10932153a7ba869cb0386e7e02d49d2461046b8...,False,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,6.586301,5 a 10,False,...,0.0,0.0,2.0,NaN,-100.0,0.0,4,1,0,0
2,a95d6f30bba445bd3d6b0c5b36f865b38ec01d17336090...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,8.010959,5 a 10,False,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0
3,6cb309685cea0b6d2988818792ec2e6fcb2bd02e0afa9e...,True,EMPRESARIO INDIVIDUAL,RN,OUTROS,COMERCIO VAREJISTA,COMERCIO,20.863014,> 20,False,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0
4,f72aa7fa6787b0a5a1c88885b6120850df8ee0f71adc25...,True,SOCIEDADE EMPRESARIA LIMITADA,RN,ENTIDADES EMPRESARIAIS,COMERCIO VAREJISTA,COMERCIO,18.726027,15 a 20,False,...,14.0,15.0,25.0,-6.666667,-44.0,0.0,3,1,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
550,4e2353206c04c6a8c097252c89f6970594f0796676bba5...,True,SOCIEDADE EMPRESARIA LIMITADA,MA,ENTIDADES EMPRESARIAIS,BENS DE CONSUMO,INDUSTRIA,27.660274,> 20,False,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0
551,571a7461978f95114944695065e774a38f06528d287740...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,1.597260,1 a 5,False,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,0
552,4fbebb5a4ea9d2c5da87f446aff48403f0409e2e8fe381...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,31.868493,> 20,False,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0
553,8bbff0a749bceb9749c5edd90373270ff9109f069ef27c...,True,EMPRESARIO INDIVIDUAL,MA,OUTROS,COMERCIO VAREJISTA,COMERCIO,0.969863,<= 1,False,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,1,0
554,970485e6b8abe52d8fb4e0bf060fb6f0f4f8576cb7583d...,True,EMPRESARIO INDIVIDUAL,PI,OUTROS,COMERCIO VAREJISTA,COMERCIO,3.994521,1 a 5,False,...,NaN,NaN,NaN,NaN,NaN,NaN,0,1,0,0

In [10]:
set(df.columns)

{'coligada_mais_antiga_ativa',
 'coligada_mais_antiga_baixada',
 'coligada_mais_nova_ativa',
 'coligada_mais_nova_baixada',
 'de_faixa_faturamento_estimado',
 'de_faixa_faturamento_estimado_grupo',
 'de_indicador_telefone',
 'de_natureza_juridica',
 'de_nivel_atividade',
 'de_ramo',
 'de_saude_rescencia',
 'de_saude_tributaria',
 'dt_situacao',
 'empsetorcensitariofaixarendapopulacao',
 'faturamento_est_coligados',
 'faturamento_est_coligados_gp',
 'fl_antt',
 'fl_email',
 'fl_epp',
 'fl_ltda',
 'fl_matriz',
 'fl_me',
 'fl_mei',
 'fl_optante_simei',
 'fl_optante_simples',
 'fl_passivel_iss',
 'fl_rm',
 'fl_sa',
 'fl_simples_irregular',
 'fl_spa',
 'fl_st_especial',
 'fl_telefone',
 'fl_veiculo',
 'grau_instrucao_macro_analfabeto',
 'grau_instrucao_macro_desconhecido',
 'grau_instrucao_macro_escolaridade_fundamental',
 'grau_instrucao_macro_escolaridade_media',
 'grau_instrucao_macro_escolaridade_superior',
 'id',
 'idade_acima_de_58',
 'idade_ate_18',
 'idade_de_19_a_23',
 'idade_de_24_a_28',
 'idade_de_29_a_33',
 'idade_de_34_a_38',
 'idade_de_39_a_43',
 'idade_de_44_a_48',
 'idade_de_49_a_53',
 'idade_de_54_a_58',
 'idade_emp_cat',
 'idade_empresa_anos',
 'idade_maxima_coligadas',
 'idade_maxima_socios',
 'idade_media_coligadas',
 'idade_media_coligadas_ativas',
 'idade_media_coligadas_baixadas',
 'idade_media_socios',
 'idade_minima_coligadas',
 'idade_minima_socios',
 'max_faturamento_est_coligados',
 'max_faturamento_est_coligados_gp',
 'max_filiais_coligados',
 'max_funcionarios_coligados_gp',
 'max_meses_servicos',
 'max_meses_servicos_all',
 'max_vl_folha_coligados',
 'max_vl_folha_coligados_gp',
 'media_faturamento_est_coligados',
 'media_faturamento_est_coligados_gp',
 'media_filiais_coligados',
 'media_funcionarios_coligados_gp',
 'media_meses_servicos',
 'media_meses_servicos_all',
 'media_vl_folha_coligados',
 'media_vl_folha_coligados_gp',
 'meses_ultima_contratacaco',
 'min_faturamento_est_coligados',
 'min_faturamento_est_coligados_gp',
 'min_filiais_coligados',
 'min_funcionarios_coligados_gp',
 'min_meses_servicos',
 'min_meses_servicos_all',
 'min_vl_folha_coligados',
 'min_vl_folha_coligados_gp',
 'natureza_juridica_macro',
 'nm_divisao',
 'nm_meso_regiao',
 'nm_micro_regiao',
 'nm_segmento',
 'nu_meses_rescencia',
 'percent_func_genero_fem',
 'percent_func_genero_masc',
 'qt_admitidos',
 'qt_admitidos_12meses',
 'qt_alteracao_socio_180d',
 'qt_alteracao_socio_365d',
 'qt_alteracao_socio_90d',
 'qt_alteracao_socio_total',
 'qt_art',
 'qt_coligadas',
 'qt_coligados',
 'qt_coligados_agropecuaria',
 'qt_coligados_atividade_alto',
 'qt_coligados_atividade_baixo',
 'qt_coligados_atividade_inativo',
 'qt_coligados_atividade_medio',
 'qt_coligados_atividade_mt_baixo',
 'qt_coligados_ativo',
 'qt_coligados_baixada',
 'qt_coligados_ccivil',
 'qt_coligados_centro',
 'qt_coligados_comercio',
 'qt_coligados_epp',
 'qt_coligados_exterior',
 'qt_coligados_inapta',
 'qt_coligados_industria',
 'qt_coligados_ltda',
 'qt_coligados_matriz',
 'qt_coligados_me',
 'qt_coligados_mei',
 'qt_coligados_nordeste',
 'qt_coligados_norte',
 'qt_coligados_nula',
 'qt_coligados_sa',
 'qt_coligados_serviÃ§o',
 'qt_coligados_sudeste',
 'qt_coligados_sul',
 'qt_coligados_suspensa',
 'qt_desligados',
 'qt_desligados_12meses',
 'qt_ex_funcionarios',
 'qt_filiais',
 'qt_funcionarios',
 'qt_funcionarios_12meses',
 'qt_funcionarios_24meses',
 'qt_funcionarios_coligados',
 'qt_funcionarios_coligados_gp',
 'qt_funcionarios_grupo',
 'qt_ramos_coligados',
 'qt_regioes_coligados',
 'qt_socios',
 'qt_socios_coligados',
 'qt_socios_feminino',
 'qt_socios_masculino',
 'qt_socios_pep',
 'qt_socios_pf',
 'qt_socios_pj',
 'qt_socios_pj_ativos',
 'qt_socios_pj_baixados',
 'qt_socios_pj_inaptos',
 'qt_socios_pj_nulos',
 'qt_socios_pj_suspensos',
 'qt_socios_st_regular',
 'qt_socios_st_suspensa',
 'qt_ufs_coligados',
 'setor',
 'sg_uf',
 'sg_uf_matriz',
 'sum_faturamento_estimado_coligadas',
 'total',
 'total_filiais_coligados',
 'tx_crescimento_12meses',
 'tx_crescimento_24meses',
 'tx_rotatividade',
 'vl_faturamento_estimado_aux',
 'vl_faturamento_estimado_grupo_aux',
 'vl_folha_coligados',
 'vl_folha_coligados_gp',
 'vl_frota',
 'vl_idade_maxima_socios_pj',
 'vl_idade_media_socios_pj',
 'vl_idade_minima_socios_pj',
 'vl_potenc_cons_oleo_gas',
 'vl_total_tancagem',
 'vl_total_tancagem_grupo',
 'vl_total_veiculos_antt',
 'vl_total_veiculos_antt_grupo',
 'vl_total_veiculos_leves',
 'vl_total_veiculos_leves_grupo',
 'vl_total_veiculos_pesados',
 'vl_total_veiculos_pesados_grupo'}